<!-- JQuery의 CDN은 layout에 선언됨  -->    

<!-- content.ejs의 JQuery,Javascript -->
<script src="../../public/smis/content.js" defer></script>


<!-- datepicker 기본설정 --> 
<script src="../../public/common/datepicker.js"  ></script>    

<!-- datepicker 스타일 설정 -->
<link href="../../public/common/datepicker.css" rel="stylesheet" type="text/css"  >     

<!-- 처리영역의 분류(대,중,소)  -->
<script src="../../public/common/processCategory.js" defer ></script>     
      
  
   





<style>
    /* .autocomplete-input {
        display: block;
        width: 360px;
        margin: 10px auto 0;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 8px;
        font-size: 16px;
        outline: none;
    } */
    
    /* .ui-autocomplete li strong {
        color: #0077cc; 
        
    } */
    
    /* .ui-helper-hidden-accessible {
        display: none;
    } */
    
    .ui-autocomplete {
        position: absolute;
        width:330px;
        max-height: 200px;
        margin: 0;
        padding: 0;
        background-color: #fff;
        border: 1px solid #ccc !important;
        border-radius: 0px;
        z-index: 1;
        list-style: none;
        overflow-y: auto;
    }
    
    .ui-autocomplete li {
        /* padding: 10px; */
        padding:0px 10px;    
        cursor: pointer;
        font-size: 11pt;
        color: #000;
    }
    </style>
    








<form id="contentForm" method="post">                
    <input type="text" name="txtState"  style="width: 0px; border: 0px; display: none;" value="<%= result[0].b_state %>" >               
    <input type="text" name="txtIdx"  style="width: 0px; border: 0px; display: none;" value="<%= result[0].b_idx %>" >
        
    
    <input type="hidden" id="hiddenUserName" value='<%= locals_userName %>'>
    <input type="hidden" id="hiddenUserId" value='<%= locals_userId %>'>
    <input type="hidden" id="hiddenUserDepartmentCode" value='<%= locals_departmentCode %>'>
    <input type="hidden" id="hiddenUserDepartmentName" value='<%= locals_departmentName %>'>
    
    <br>
    <table>  
        <tr>
            <td>접수자</td>
            <td>                
                <input type="text" name="txtRceptionistName" id="txtRceptionistName" onfocus="focusControl(this.id)" onblur="blurControl(this.id)" onkeydown="nextfocusControl('sltCategory1')" 
                <%= result[0].b_state >= 1 ? 'disabled' : 'readonly'  %>  value='<%= result[0].b_receptionistName ? result[0].b_receptionistName : locals.locals_userName  %>' 
                style="width: 90px;" >
    
                <input type="text" name="txtRceptionistId" id="txtRceptionistId" 
                <%= result[0].b_state >= 1 ? 'disabled' : 'readonly'  %>  value='<%= result[0].b_receptionistId ? result[0].b_receptionistId : locals.locals_userId  %>'  
                style="width: 70px;" >   
                
                <input type="text" name="txtReceptionDepartmentCode" id="txtReceptionDepartmentCode" 
                <%= result[0].b_state >= 1 ? 'disabled' : 'readonly'  %>  value='<%= result[0].b_receptionDepartmentCode ? result[0].b_receptionDepartmentCode : locals_departmentCode  %>' 
                style="width: 50px;" >
                
                <input type="text" name="txtReceptionDepartmentName" id="txtReceptionDepartmentName" 
                <%= result[0].b_state >= 1 ? 'disabled' : 'readonly'  %>  value='<%= result[0].b_receptionDepartmentName ? result[0].b_receptionDepartmentName : locals_departmentName  %>' 
                style="width: 70px;" >          
            </td>
        </tr>
    
      
        <tr>
            <td>접수시간</td>
            <td>         
                <input type="text" name="txtReceiptDate" id="txtReceiptDate"   
                 value="<%= result[0].b_receptionDate %>" <%= result[0].b_state >= 1 ? 'disabled' : 'readonly'  %>   style="width: 120px;"  >&nbsp;
                  <!-- <input type="text" name="txtReceiptDate" id="txtReceiptDate"  
                 value="2024/08/09" <%= result[0].b_state >= 1 ? 'disabled' : 'readonly'  %>   style="width: 120px;"  >&nbsp; -->
                <input type="text" name="txtReceiptHour" id="txtReceiptHour" oninput="this.value = this.value.replace(/[^0-9]/g, '')" 
                 onfocus="focusControl(this.id)" onblur="blurControl(this.id)"             
                 onkeydown="nextfocusControl('txtReceiptMin')" 
                 value="<%= result[0].b_receptionTime ? result[0].b_receptionTime.split(':')[0] : '' %>" pattern="[0-9]+" style="width: 30px;" <%= result[0].b_state >= 1 ? 'disabled' : ''  %>  >시
                <input type="text" name="txtReceiptMin" id="txtReceiptMin" oninput="this.value = this.value.replace(/[^0-9]/g, '')" 
                 onfocus="focusControl(this.id)" onblur="blurControl(this.id)"   
                 onkeydown="nextfocusControl('txtRequesterTel1')" 
                 value="<%= result[0].b_receptionTime ? result[0].b_receptionTime.split(':')[1] : '' %>" pattern="[0-9]+" style="width: 30px;" <%= result[0].b_state >= 1 ? 'disabled' : ''  %>   >분
            </td>
        </tr>
        <tr>
            <td>전화번호</td>
            <td>
                <input type="text" name="txtRequesterTel1" id="txtRequesterTel1" required 
                             value="<%= result[0].b_requesterTel ? result[0].b_requesterTel.split('-')[0] : '' %>" 
                             onkeydown="nextfocusControl('txtRequesterTel2')"  
                             onfocus="focusControl(this.id)" onblur="blurControl(this.id)"  
                             style="width: 50px;" 
                             <%= result[0].b_state >= 1 ? 'disabled' : ''  %> >
                -<input type="text" name="txtRequesterTel2" id="txtRequesterTel2" required 
                        value="<%= result[0].b_requesterTel ? result[0].b_requesterTel.split('-')[1] : '' %>" 
                        onkeydown="nextfocusControl('txtRequesterTel3')" 
                        onfocus="focusControl(this.id)" onblur="blurControl(this.id)"  
                        style="width: 50px;" <%= result[0].b_state >= 1 ? 'disabled' : ''  %> >
                -<input type="text" name="txtRequesterTel3" id="txtRequesterTel3" required 
                        value="<%= result[0].b_requesterTel ? result[0].b_requesterTel.split('-')[2] : '' %>" 
                        onkeydown="keydown_txtRequesterTel3()"
                        onfocus="focusControl(this.id)" onblur="blurControl(this.id)"                       
                        style="width: 50px;" <%= result[0].b_state >= 1 ? 'disabled' : ''  %> >
                <input type="button" style="width:50px;" onclick="searchRequestCompanyInfo()" value="..." <%= result[0].b_state >= 1 ? 'disabled' : ''  %> >
            </td>
        </tr>
        <tr>
            <tD>요청회사</tD>
            <td>
                <input type="text" name="txtRequestCompany" id="txtRequestCompany" 
                              value="<%= result[0].b_requestCompany %>" 
                              onkeydown="nextfocusControl('txtRequestDepartment')"                            
                              onfocus="focusControl(this.id)" onblur="blurControl(this.id)"  
                              <%= result[0].b_state >= 1 ? 'disabled' : ''  %> style="width: 100px;" >
            </td>
        </tr>
        <tr>
            <td>부서명</td>
            <td>
                <input type="text" name="txtRequestDepartment" id="txtRequestDepartment" 
                             value="<%= result[0].b_requestDepartment %>" 
                             onkeydown="nextfocusControl('txtRequesterName')" 
                             onfocus="focusControl(this.id)" onblur="blurControl(this.id)"    
                             style="width: 150px;" 
                             <%= result[0].b_state >= 1 ? 'disabled' : ''  %> >
            </td>
        </tr>   
        <tr>    
            <td>요청자</td>
            <td>
                <input type="text" name="txtRequesterName" id="txtRequesterName" 
                             value="<%= result[0].b_requesterName %>" 
                             onkeydown="nextfocusControl('txtModelCode')" 
                             onfocus="focusControl(this.id)" onblur="blurControl(this.id)"  
                             style="width: 70px;" 
                             <%= result[0].b_state >= 1 ? 'disabled' : ''  %> >
            </td>
               
        </tr>
        <script>
          
            //  oninput="this.value = this.value.replace(/[^a-zA-Z0-9]/g, '');"  
    
            function chkCharCode(event) {
                const regExp = /[^0-9a-zA-Z]/g;   // 숫자,영문 정규식
                // var regExp = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$/;   // 길이가 8자 이상, 대소문자,숫자 혼합된 비밀번호
                // var regExp = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;    // 이메일 정규식
                const ele = event.target;
                if (regExp.test(ele.value)) {
                    alert('한글은 입력할 수 없습니다.\n 숫자.영문만 입력할 수 있습니다.')
                    ele.value = ele.value.replace(regExp, '');
                }
           }
          
        </script>
        <tr>
            <td>모델코드</td>
            <td>
                <input type="text" name="txtModelCode" id="txtModelCode" placeholder="'6'을 입력해 주세요" required
                onkeyup="chkCharCode(event)"  
                onfocus="focusControl(this.id)" onblur="blurControl(this.id)" 
                style="width:120px; text-transform: uppercase; "  maxlength="4"
                value="<%= result[0].b_modelCode %>" <%= result[0].b_state >= 1 ? 'disabled' : ''  %> >
                <input type="text" name="txtModelName" id="txtModelName" readonly 
                value="<%= result[0].b_modelName %>" style="width: 150px; " <%= result[0].b_state >= 1 ? 'disabled' : ''  %> >              
                <input type="button" value="..." style="width: 50px;" onclick="javscript:document.getElementById('txtModelCode').focus()" <%= result[0].b_state >= 1 ? 'disabled' : ''  %> >
            </td>
        </tr> 
        <tr>
            <td>접수내용</td>
            <td>
                <textarea name="txtReceiptContent" id="txtReceiptContent" 
                style="font-size:11pt;" rows="4" rows="3" cols="57" <%= result[0].b_state >= 1 ? 'disabled' : ''  %>  ><%= result[0].b_receiptContent %></textarea>     
               
            </td>
        </tr>
        <tr>
            <td>
                처리자            
            </td>
            <td> 
                             
                <fieldset style="width: 400px;  border-radius:5px; text-align: center; border: 1px solid #ccc; ">
                    <legend style="font-size:9pt; text-align:center;">
                        <input type="radio" name="radioChangeProcesser" id="radioChangeProcesser0" value="0" checked <%= result[0].b_state >= 1 ? 'disabled' : ''  %> >변경 안함
                        &nbsp;
                        <input type="radio" name="radioChangeProcesser" id="radioChangeProcesser1" value="1" <%= result[0].b_state >= 1 ? 'disabled' : ''  %> >변경
                    </legend> 
                    
                    <input type="text" name="txtProcessName" id="txtProcessName" 
                    onfocus="focusControl(this.id)" onblur="blurControl(this.id)" onkeydown="nextfocusControl('sltCategory1')" 
                   <%= result[0].b_state >= 1 ? 'disabled' : 'readonly'  %> 
                   value='<%= result[0].b_processName ? result[0].b_processName : locals.locals_userName  %>' 
                   style="width: 90px;" >
       
                   <input type="text" name="txtProcessId" id="txtProcessId" <%= result[0].b_state >= 1 ? 'disabled' : 'readonly'  %>  
                   value='<%= result[0].b_processId ? result[0].b_processId : locals.locals_userId  %>'  
                   style="width: 70px;" >   
                   
                   <input type="text" name="txtPorcessDepartmentCode" id="txtPorcessDepartmentCode" <%= result[0].b_state >= 1 ? 'disabled' : 'readonly'  %> 
                   value='<%= result[0].b_departmentCode ? result[0].b_departmentCode : locals_departmentCode  %>' 
                   style="width: 50px;" >
                   
                   <input type="text" name="txtPorcessDepartmentName" id="txtPorcessDepartmentName" <%= result[0].b_state >= 1 ? 'disabled' : 'readonly'  %> 
                   value='<%= result[0].b_departmentName ? result[0].b_departmentName : locals_departmentName  %>' 
                   style="width: 70px;"  >
                </fieldset>
                                                                                    
                
            </td>
        </tr> 
        <tr>
            <td colspan="2" style="text-align: right;"> 
                <input type="button" id="submitReceipt"  value="접수만 저장" <%= result[0].b_state >= 1 ? 'disabled' : ''  %>  >                       
            </td>
        </tr>
    </table>
    
    
    
    
    
    
    
    <br>
    <hr>
    
    
    
    
    <table>  
                
            <tr>
                <td>완료시간</td>
                <td>
                    <input type="text" name="txtProcessedDate" id="txtProcessedDate"  
                    value="<%= result[0].b_processedDate %>" <%= result[0].b_state >= 3 ? 'disabled' : 'readonly'  %>   style="width: 120px;"  >&nbsp;
                    <input type="text" name="txtProcessedHour" id="txtProcessedHour" 
                    onfocus="focusControl(this.id)" onblur="blurControl(this.id)"             
                    onkeydown="nextfocusControl('txtProcessedMin')" 
                    value="<%= result[0].b_processedTime ? result[0].b_processedTime.split(':')[0] : '' %>" pattern="[0-9]+" style="width: 30px;" <%= result[0].b_state >= 3 ? 'disabled' : ''  %>  >시
                    <input type="text" name="txtProcessedMin" id="txtProcessedMin" 
                    onfocus="focusControl(this.id)" onblur="blurControl(this.id)"   
                    onkeydown="nextfocusControl('htmlSltKind1')" 
                    value="<%= result[0].b_processedTime ? result[0].b_processedTime.split(':')[1] : '' %>" pattern="[0-9]+" style="width: 30px;" <%= result[0].b_state >= 3 ? 'disabled' : ''  %>   >분
                </td>
            </tr>      
            <tr>
                <td>분류</td>
                <td >
                    <div id="divSltKind">
                        <select id="htmlSltKind1" name="sltCategory1" 
                        onfocus="focusControl(this.id)" onblur="blurControl(this.id)"   style="width: 150px;" >                        
                         </select>&nbsp;            
                         <select id="htmlSltKind2" name="sltCategory2" 
                         onfocus="focusControl(this.id)"  onblur="blurControl(this.id)"   style="width: 150px;">
                             <option value="" selected >-선택하세요-</option>
                         </select>&nbsp;                 
                         <select id="htmlSltKind3" name="sltCategory3" 
                         onfocus="focusControl(this.id)"  onblur="blurControl(this.id)"   style="width: 150px; ">
                             <option value="" selected >-선택하세요-</option>
                         </select>
                    </div>
                    <div id="divTxtKind">
                        <input type="text" id="txtKind1" style="width: 150px;" disabled >
                        <input type="text" id="txtKind2" style="width: 150px;" disabled >
                        <input type="text" id="txtKind3" style="width: 150px;" disabled>    
                    </div>                                     
    
                         <% if(result[0].b_state == 3) { %>
                            <script>                                                                   
                                $('#divSltKind').hide()                            
                                $('#txtKind1').val(' <%= result[0].b_category.split("-")[0] %> ')
                                $('#txtKind2').val(' <%= result[0].b_category.split("-")[1] %> ')
                                $('#txtKind3').val(' <%= result[0].b_category.split("-")[2] %> ')
                                // $('#htmlSltKind1').hide()                           
                                // $('#htmlSltKind1').css({'display':'none'})       
                            </script>
                         <% } else { %>
                            <script>                                                              
                                $('#divTxtKind').hide()
                                // $('#txtKind1').hide() 
                            </script>       
                         <% } %>              
                     
                </td>
            </tr>      
            <tr>
                <td>처리내용</td>
                <td>
                    <textarea name="txtProcessedContent" id="txtProcessedContent" 
                    style="font-size:11pt;" rows="4" rows="3" cols="57" <%= result[0].b_state >= 3 ? 'disabled' : ''  %>  ><%= result[0].b_processedContent %></textarea>
             
                   
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: right;">
                    <input type="button" id="submitProcess"  value="완료 저장" <%= result[0].b_state >= 3 ? 'disabled' : ''  %>  >       
                        
                    
                </td>
            </tr>
        </table>
        </form>