  <!-- javascript  -->
  <script src="../../public/smis_list.js"></script>  

  <h1>list</h1>

  


  

<script>
  // JQuery 시작
$(document).ready(function(){
      // 검색 영역 초기화  
      

      // 담당부서명 바인딩 함수
      function bind_sltProcessDepartmentName() {
            $('#sltDepartmentCode option').remove()
                var arr = [
                    {name:"GJCT", backnumber:"광주센타"},
                    {name:"LEB1", backnumber:"서울센타"},
                    {name:"LED1", backnumber:"대전센타"},
                    {name:"LED3", backnumber:"광주센타"},
                    {name:"LED4", backnumber:"전주센타"},
                    {name:"LEE1", backnumber:"부산센타"},
                    {name:"LEE4", backnumber:"울산센타"},
                    {name:"LEE5", backnumber:"대구센타"},
                    {name:"L900", backnumber:"경인센타"}      
              ];

              $.each(arr,function(index, el) {
              // $("#sltDepartmentCode").append($('<option>',{value:option,text:option}))
              //$('#sltDepartmentCode').append('<option value="">'+value+'</option>')
              if(el.name == "<%= userDepartmentCode %>" ) {
                    $('#sltProcessDepartmentCode').append( $('<option>').attr('value',el.name).text(el.backnumber).attr('selected','selected') ) 
              }
              else {
                    $('#sltProcessDepartmentCode').append( $('<option>').attr('value',el.name).text(el.backnumber) ) 
              }    
              })
      }
     
      
      // 담당자 바인딩 함수
      function bind_sltProcessId() {           
                  fetch('/smis/list/searchProcessUser',{
                        method:'POST',
                        headers: {'Content-Type':'application/json'},
                        body: JSON.stringify({'departmentCode':$("#sltProcessDepartmentCode option:selected").val()})
                  })
                  .then((res)=>res.json())
                  .then((data)=>{             
                  $('#sltProcessId').empty()
                        $.each(data,(index,el)=>{
                              if(el.b_id == "<%= userId %>") {
                              $('#sltProcessId').append($('<option>').attr('value',el.b_id).text(el.b_userName + ' ' + el.b_id ).attr('selected','selected') )
                              } else {
                              $('#sltProcessId').append($('<option>').attr('value',el.b_id).text(el.b_userName + ' ' + el.b_id ))
                              }
                        
                        })        
                  })                 
      }
        

      // 1.담당부서 바인딩
      bind_sltProcessDepartmentName()
      // 2.담당자 바인딩
      bind_sltProcessId()
      // 3.날짜 초기화
      initFromDateToDate()
           

      // 담당부서 
      $('#sltProcessDepartmentCode').on('change',function(){        
          bind_sltProcessId()
      })     
      


       
      // 날짜 초기화 함수
      function initFromDateToDate() {               
        
        var currentDate = new Date()       
        var year =  currentDate.getFullYear()
        var month = ('0' + ( currentDate.getMonth() + 1)).slice(-2)
        //var day = ('0' + fromDate.getDate()).slice(-2)
        var day = '01'
        document.getElementById('txtFromDate').value = `${year}-${month}-${day}`        
        

        var toDate = new Date(year, currentDate.getMonth()+1,0)
        var toYear =  toDate.getFullYear()
        var toMonth = ('0' + ( toDate.getMonth() + 1)).slice(-2)        
        var toDay = toDate.getDate()
        document.getElementById('txtToDate').value = `${toYear}-${toMonth}-${toDay}`

               
        $('#sltDateRange option:eq(0)').prop('selected',true)                                                
      }     
      


    
      // 1개월(이번달),3개월,6개월 선택버튼
      $('#sltDateRange').on('change',function() {
               var rangeDate = $('#sltDateRange').val()  

                if(rangeDate == 1) {
                      initFromDateToDate()    
                }else if(rangeDate == 3){

                      var myDate = new Date()
                      var fromDate = new Date()
                      fromDate.setMonth(myDate.getMonth() - 2)
                      var year = fromDate.getFullYear()
                      var month = ('0' + (fromDate.getMonth() + 1)).slice(-2)
                      var day = '01'
                           
                      document.getElementById('txtFromDate').value = `${year}-${month}-${day}`
                                   

                }else if(rangeDate == 6){
                  var myDate = new Date()
                      var fromDate = new Date()
                      fromDate.setMonth(myDate.getMonth() - 5)
                      var year = fromDate.getFullYear()
                      var month = ('0' + (fromDate.getMonth() + 1)).slice(-2)
                      var day = '01'
                           
                      document.getElementById('txtFromDate').value = `${year}-${month}-${day}`  
                }
       })


       // "검색" 
       $('#btnSubmitForm').on('click',function() {       
          $('#form1').attr('action','/smis/list')
          $('#form1').submit()
       })

       // "초기화"
       $('#btnInitSearchArea').on('click',function() {
             bind_sltProcessDepartmentCode()
          bind_sltProcessId()
          initFromDateToDate()
      })
      

    


})   
// JQuery 끝





function sendPageNumber(pageNumber){
            
            document.getElementById('hiddenPageNumber').value = pageNumber
            $('#form1').attr('action','/smis/list/searchItem')
            $('#form1').submit()

            //alert(document.getElementById('hiddenPageNumber').value)
            // fetch('/smis/list/searchItem',{
            //             method:'POST',
            //             headers: {'Content-Type':'application/json'},
            //             body: JSON.stringify({
              //                                       'pageNumber':pageNumber,
              //                                       'hiddenStat':document.getElementById('hiddenState').value(),
              //                                       'sltProcessDepartmentCode':document.getElementById('hiddenUserDepartmentCode').value(),
              //                                       'sltProcessId':document.getElementById('#iddenUserId').value(),
              //                                       'txtFromDate':document.getElementById('hiddenFromDate').value(),
              //                                       'txtToDate':document.getElementById('hiddenToDate').value(),
              //                                       'txtPageNumber':document.getElementById('hiddenPageNumber').value()
            //                                  })
            //       })
            //       .then((res)=>res.json())
            //       .then((data)=>{             
            //       $('#sltProcessId').empty()
            //             $.each(data,(index,el)=>{
            //                   if(el.b_id == "<%= locals.locals_userId %>") {
            //                   $('#sltProcessId').append($('<option>').attr('value',el.b_id).text(el.b_userName + ' ' + el.b_id ).attr('selected','selected') )
            //                   } else {
            //                   $('#sltProcessId').append($('<option>').attr('value',el.b_id).text(el.b_userName + ' ' + el.b_id ))
            //                   }
                        
            //             })        
            //       })              
       } 


     
</script>
       
       

<% if(state == 1) { %>
  <h3>접수현황</h3>
<% } else {%>
  <h3>처리현황</h3>
<% }%>



<form id="form1" method="post">
  

  <!------------------------------------------------------- 속성 값 리스트 ----------------------------------------------------------------------->                     
  <!-- <font  style="font-size:9pt;">
  pageIndex:<input type="text"  style="width:100px ;"   value="<%= pageIndex %>" >
  State:<input type="text"  style="width:100px ;"  value="<%= state %>" >
  DepartmentCode:<input type="text"  style="width:100px ;" value="<%= userDepartmentCode %>" >
  UserId:<input type="text"  style="width:100px ;" value="<%= userId %>" >
  FromDate:<input type="text"  style="width:100px ;" value="<%= fromDate %>" >
  ToDate:<input type="text"  style="width:100px ;" value="<%= toDate %>" >  
  </font>
  <br>  
  <br> -->





  
  <!------------------------------------------------------- 검색 -----------------------------------------------------------------------> 
  <input type="text" id="hiddenpageIndex" name="hiddenpageIndex"  style="display: none;"   value="<%= pageIndex %>" >
  <input type="text" id="hiddenState" name="hiddenState" style="display: none;"  value="<%= state %>" >
  <table style="width:1005px; border-style: solid; border-color: #0D79C2; border-width: 1px;  border-spacing:0px;">
    <tr style="height:30px;">
      <td style="padding:10PX; text-align:center; font-size:9pt;">                    
           담당부서:
           <select name="sltProcessDepartmentCode" id="sltProcessDepartmentCode"></select>               
           &nbsp;&nbsp;
           담당자:
           <select name="sltProcessId" id="sltProcessId" style=" width:130px;">               
           </select>               

           &nbsp;&nbsp;&nbsp;&nbsp;         
          
          <input type="text" id="txtFromDate" name="txtFromDate" style="width: 100px; height: 30px; border-style:solid; border-width: 1px; border-color:#D2D2D2;" >
          ....
          <input type="text" id="txtToDate" name="txtToDate" style="width: 100px; height: 30px; border-style:solid; border-width: 1px; border-color:#D2D2D2;" >        
          <select id="sltDateRange" name="sltDateRange" style="height:33px; width:140px; font-size:11pt;" >               
               <option value="1" selected="true">1개월(이번 달)</option>
               <option value="3">3개월</option>
               <option value="6">6개월</option>
          </select>
          &nbsp;&nbsp;        
          <input type="button" value="검색" id="btnSubmitForm" style="background-color: #0D79C2; color: #FFFFFF;
                                                  width: 90px; height: 33px; font-size: 11pt; border-style:solid; border-width:1px; border-color:#0D79C2;"                                                   
                                                  onmouseover="this.style.background='#FFFFFF';this.style.color='#0D79C2';"  
                                                  onmouseout="this.style.background='#0D79C2';this.style.color='#FFFFFF';" >
          <input type="button" value="초기화" id="btnInitSearchArea" style="background-color: #FFFFFF; color: #323232;
                                                  width: 90px; height: 33px; font-size: 11pt; border-width: 1px;"                                                   
                                                   onmouseover="this.style.background='#318DE7';this.style.color='#FFFFFF';"  
                                                   onmouseout="this.style.background='#FFFFFF';;this.style.color='#323232';" >                   
      </td>
     </tr> 
  </table>
</form>
<br>




   



  <!------------------------------------------------------- 리스트 -----------------------------------------------------------------------> 
<style>
    .List { font-size:9pt; border-spacing:1px; background-color: #323232; }          
       .List_tr { height:40px; background-color: #FFFFFF;  } 
             
              th { height:30px; background-color:#0D79C2; color: #FFFFFF}                
              .List_th_receptionDate { width:150px; text-align: center;}             
              .List_th_state { width:60px; text-align: center;}          
              .List_th_csrNo { width:130px; text-align: center;}                          
              .List_th_requestCompany { width:100px; text-align: left; padding-left:10px;}                 
              .List_th_requestDepartment { width:140px; text-align:center; padding-left: 10px;}               
              .List_th_requesterName { width:80px; text-align: center;} 
              .List_th_modelCode { width:60px;  text-align: center;}   
              .List_th_modelName { width:130px; text-align:center;  padding-left: 10px;}              
              .List_th_processName { width:130px; text-align: center;}   

            
              .List_td_receptionDate { text-align: center;  font-size:11pt;}             
              .List_td_state { text-align: center;  font-size:10pt;}          
              .List_td_csrNo { text-align: center; color:#3C76ED; font-size:10pt;}                          
              .List_td_requestCompany { text-align: left;  font-size:10pt; padding-left:5px;}                 
              .List_td_requestDepartment { text-align: left; padding-left: 10px; }               
              .List_td_requesterName { text-align: center;color:#3C76ED; font-size:10pt;} 
              .List_td_modelCode { text-align: center;  font-size:10pt;}   
              .List_td_modelName { text-align: left;  font-size:9pt; padding-left: 10px;}              
              .List_td_processName { text-align: center;  font-size:10pt;}               
</style>


<div style="width:1010px; display:flex; justify-content:space-between">
  <div>&nbsp;<%= totalItemCount + '건' %></div>
  <div>PAGE&nbsp;( <%= pageIndex + ' / ' + totalPageCount %> )&nbsp;&nbsp;</div> 
</div>

<table class="List" >
      <tr class="List_tr">
            <th class="List_th_receptionDate">
                <% if(state == 1) {  %>
                  접수날짜
                <% } else { %>
                  처리날짜 
                <% } %>
            </th>
            <th class="List_th_state">상태</th> 
            <th class="List_th_csrNo">CSR번호</th>                                                         
            <th class="List_th_requesterName">요청회사</th>                    
            <th class="List_th_requestDepartment">부서명</th>  
            <th class="List_th_requesterName">요청자</th>                  
            <th class="List_th_modelCode">모델코드</th>
            <th class="List_th_modelName">모델명</th>
            <th class="List_th_processName">처리자(사번)</th>               
      </tr>
      <% if(items.length > 0) { %>

                <% items.forEach((item,index)=>{  %>
                <!--  onmouseover="this.style.backgroundColor='' #D1D2EE"    -->
                          <tr class="List_tr" onclick="javascript:location.href='/smis/content?idx=<%= item.b_idx %>'"                            
                            onmouseover="this.style.backgroundColor='#F0F1F7' "
                            onmouseout="this.style.backgroundColor='white' " >      
                                <!-- <td> <%= item.b_idx %></td>   -->
                                <td class="List_td_receptionDate"> <%= item.b_receptionDate + '  ' + item.b_receptionTime   %></td> 
                                <td class="List_td_state"> 
                                  <% if(item.state == '1') { %>
                                    접수             
                                  <% }else { %>
                                    완료
                                  <% } %>
                                </td>  
                                <td class="List_td_csrNo"> <%= item.b_csrNo  %> </td>                                                                                                                    
                                <td class="List_td_requestCompany"> <%= item.b_requestCompany %></td>  
                                <td class="List_td_requestDepartment"> <%= item.b_requestDepartment %></td> 
                                <td class="List_td_requesterName"> <%= item.b_requesterName %></td>                                                                               
                                <td class="List_td_modelCode"> <%= item.b_modelCode %></td>  
                                <td class="List_td_modelName"> <%= item.b_modelName %></td>                
                                <td class="List_td_processName"> <%= item.b_processName + '(' + item.b_receptionistId + ')' %></td>                       
                                <!-- <td> <%# item.b_processedContent.replace('\n','<br>') %></td>  -->
                        </tr>
                <% }) %> 

        <% } else {%>
                      <tr class="List_tr">
                            <td colspan="9" style="text-align:center; ">
                              <% if(state == 1) {  %>
                                접수된 데이타가 없습니다.
                              <% } else { %>
                                처리된 데이타가 없습니다. 
                              <% } %>
                              
                            </td>
                      </tr>
        <% } %>
</table>
            






<br>
<table>
    <tr style="height: 40px;">
        <td><%- prevPageButton %></td>
        <td style="text-align: center;">
          &nbsp;&nbsp;<%- link %>&nbsp;&nbsp;
        </td>
        <td><%- nextPageButton %></td>
    </tr>
</table>


 



 





